*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Gilroy", "Arial", sans-serif;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.huge__container{
  max-width: 1440px;
  padding: 0 10px;
  margin: 0 auto;
}

.shop-now{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 17px;
    border: 1px solid #76a713 ;
    color: #FFFFFF;
    background-color: #76a713;
}
