.hero{
    position: relative;
    background-color: rgba(118, 167, 19, 0.31);
  }
  
  .hero__box{
    position: relative;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../images/orgamic.png);
    background-repeat: no-repeat;
    background-position: 1060px 150px;
  }
  
  .hero__heading{
    width: 450px;
    font-family: Oswald;
    font-style: normal;
    font-weight: 500;
    font-size: 70px;
    line-height: 104px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 38px;
    color: #000000;  
  }
  
  .hero__small-heading{
    text-transform: uppercase;
    font-family: Oswald;
    font-style: normal;
    font-size: 40px;
    font-weight: normal;
    line-height: 54px;
    margin-top: 0;
    margin-bottom: 25px;  
   color: #76A713;
  }
  
  
  .hero__link{
    display:inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
    padding: 15px 38px;
    background-color: #76a713;
    color: #FFFFFF;
  }
  
  .hero__link:hover{
    color: #76a713;
    background-color: #ffffff;
  }
  
  .left__arrow-btn{
    position: absolute;
    left: -60px;
    top: 280px;
    background-image: url(../images/arrowleft.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: #76a713;
  }
  
  .left__arrow-btn:hover{
    background-image: url(../images/arrowright.png);
    transform: rotate(0.5turn);
    border: 1px solid #76A713;
    background-color:rgba(118, 167, 19, 0.01) ;
  }
  
  .right__arrow-btn{
    position: absolute;
    right: -45px;
    top: 280px;
    width: 40px;
    height: 40px;
    background-image: url(../images/arrowright.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    border: 1px solid #76A713;
    background-color:rgba(118, 167, 19, 0.01) ;
    cursor: pointer;
  }
  
  .right__arrow-btn:hover{
    background-image: url(../images/arrowleft.png);
    transform: rotate(0.5turn);
    background-color: #76a713;
  }
  