.lates{

    &__heading{
        font-family: Oswald;
        font-weight: 600;
        font-size: 60px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #191D28;
            
    }

    &__list{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    &__item{
        width: 372px;
        height: 487px;
        border: 1px solid #dddddd;
       

        &-list{
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 0;
            padding: 0;

        }

        &-item{
            font-weight: bold;
            font-size: 11px;
            line-height: 150%;
            text-align: center;
            margin-top: 20px;
            color: #000000;        
        }

        &-heading{
            font-family: Oswald;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 150%;
            border-bottom: 1px solid #dddddd;
            margin: 0 20px;
            margin-top: 18px;
            padding-bottom: 18px;
            color: #000000;      
        }

        &-user{
            &::before{
                content: "";
                width: 12px;
                height: 14px;
                display: inline-block;
                background-image: url(../images/user.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center center;
                margin-right: 8px;
            }
        }

        &-servis{
            &::before{
                content: "";
                width: 14px;
                height: 14px;
                display: inline-block;
                background-image: url(../images/servise.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center center;
                margin-right: 8px;
            }
        }

        &-coment{
            &::before{
                content: "";
                width: 14px;
                height: 14px;
                display: inline-block;
                background-image: url(../images/coment.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position: center center;
                margin-right: 8px;
            }
        }

        &-active{
            box-shadow: 0px 16px 45px rgba(0, 0, 0, 0.1);
        }

        &-active > .lates__item-heading {
            color: #76A713;
        }

        &:hover{
            box-shadow: 0px 16px 45px rgba(0, 0, 0, 0.1);
        }

        &:hover > .lates__item-heading{
            color: #76A713;
        }

        
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin-bottom: 15px;

        &-month{
            font-weight: bold;
            font-size: 11px;
            line-height: 150%;
            color: #000000;
            margin-top: 20px;  
            
            &::before{
                content: "";
                width: 13px;
                height: 14px;
                display: inline-block;
                background-image: url(../images/calendar.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position-y: center;
                margin-right: 10px;
            }
        }

        &-link{
            display: inline-block;
            text-decoration: none;
            font-weight: bold;
            font-size: 13px;
            line-height: 150%;
            color: #76A713; 
            margin-top: 20px;
            
            &::after{
                content: "";
                width: 6px;
                height: 9px;
                display: inline-block;
                background-image: url(../images/vector.png);
                background-repeat: no-repeat;
                background-size: auto;
                background-position-y: center;
                margin-left: 5px;
            }
        }
    }
}