.testimonials{
    height: 740px;
    margin-top: -100px;

    &__bg{
        position: relative;
        width: 1440px;
        height: 740px;
        background-image: url(../images/group.png), url(../images/bg.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: left bottom, right center;
    }
}


.testimonials__box{
    position: absolute;
    top: 270px;
    right: 120px;
    width: 540px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 0px 20px 50px 2px rgba(0, 0, 0, 0.1);

    &-quote{
        text-align: center;
    }

    &-quote-text{
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #888888;
        margin-top: 35px;
        margin-bottom: 50px;
    }

    &-quote-cite{
      

        &-name{
            display: block;
            font-family: Oswald;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;
            margin: 0;
            text-transform: capitalize;
            color: #000000;  
        }
    
        &-job{
            font-weight: 500;
            font-size: 13px;
            line-height: 140%;
            margin-top: 10px;
            margin-bottom: 10px;
            color: #AAAAAA;
        }
    }



}

.testimonials__box-quote-sliders{
    list-style-type: none;
    width: 100px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 210px;
    bottom: 30px;
}

.testimonials__box-quote-slider{
    margin-right: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 50%;
    cursor: pointer;

    &:hover{
        border: none;
        background-color: #76a719;
    }

    &:last-child{
        margin: 0;
    }


}

.testimonials__box-quote-slider-active{
    border: none;
    background-color: #76a719;

}